<!DOCTYPE>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/foram.css">
</head>
<body>
    <header class="head">
        <a href="/"><img  style="width: 55px; margin-top: 5px;" class="logomm" src="../static/img/tron.png" alt=""></a>
        <div style="margin-top: -6rem;"  class="container www">
            <nav class="flex items-center space-between">
                <div class="left flex items-center">
                    <div class="branding">
                        <a href="/"><img class="logo" src="../static/img/tron.png" alt=""></a>
                    </div>

                    <div class="top-link">
                        <a href="/user/">Home</a>
                        <a href="/user/contact">Contact</a>
                        <a href="/user/histry">Histry</a>
                       
                        <a href="/user/plan">Plan</a>
                        <a href="#faq">Faq</a>
                    </div>
                </div>
                
                <img class="mlogo" src="../static/img/tron.png" alt="">
                <div class="right">
                    <form action="/user/plan">
                        <button class="btn btn-primary" >plan</button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="farm">
            <div class="raper">
            <h3>Contact Us Form</h3>
            <form class="f" action="#" method="post">
                <input class="nam"  type="text" placeholder="Full Name">
                <input class="email" type="email" placeholder="Email">
                <input class="msg" type="text" placeholder="Enter Your Massage">
                <button type="reset" class="btn1 btn btn-primary">Submit</button>
            </form>
        </div>
        </div>
</header>

</body>
