<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Mine Tron Mining Website</title>
    <link rel="stylesheet" href="../static/css/style.css">
  
</head>
<body>

<div class="main-raper">
    <button class="hamberger">
        <img src="static/img/hamberger.png" alt="">
       
    </button>
    <img class="m-lo" src="static/img/tron.png" alt="">

    <div class="mobile-nav">
        <button class="times">
            <img src="static/img/times.svg" alt="">
        </button>
        <a href="/"><img class="nav-logo-s" src="static/img/tron.png" alt=""></a>
        <ul class="faq1">
            <li><a href="/">Home</a></li>
            <li><a href="#packg">Plan</a></li>
            <li><a href="/contact.html">Contact</a></li>
            <li ><a  href="#faq">Faq</a></li>
            <li ><a  href="/signup">Register</a></li>
            <li ><a  href="login">Log In</a></li>
        </ul>
    </div>
    <header class="head">

        <div class="container www">
            <nav class="flex items-center space-between">
                <div class="left flex items-center">
                    <div class="branding">
                        <a href="/"><img class="logo" src="static/img/tron.png" alt=""></a>
                    </div>

                    <div class="top-link">
                        <a href="/">Home</a>
                        <a href="contact">Contact</a>
                       
                        <a href="#packg">Plan</a>
                        <a href="#faq">Faq</a>
                    </div>
                </div>
                
                <img class="mlogo" src="static/img/tron.png" alt="">
                <div class="right">
                    <form action="login">
                        <button class="btn btn-primary" >Log in</button>
                       </form>
                </div>
            </nav>

            <div class="hero  flex items-center space-between ">
                <div class="left flex-1 flex justify-center">
                    <img src="static/img/1.jpg" alt="">
                </div>
                
                <div class="right r-main flex-1">
                    
                    <h6>Cloud Mine</h6>
                    <h1>Automatic Mining <span>Tron</span></h1>

                    <p>Open Your Account And <span ><a href="signup"><strong>Get 20-Trx Free</strong></a></span> - Cloud Mining Is Feaucher Of Mining <span><a href="signup">Sign Up</a></span> and Save Tron For Your Feaucher!  </p>

                    <div class="bt-log " >
                        
                        <!-- <button type="submit" class=" top-log-in btn btn-secondary">Log In</button> -->
                    <a style="text-decoration: none;"  class=" btn btn-secondary" href="/signup">Sign Up</a>
                    </div>
                </div>
            </div>
            
        </div>
    </header>
    <main class="container">
        <div  id="packg" class="plan">
            <div class="c-plan"> 
                <h2>BASIC</h2>
                <h3 class="price">20 TRON</h3>
                <h3>Earning rate (Daily)</h3>
                <h5>1.00000000 TRON</h5>
                <h3>Time</h3>
                <p>50 days</p>
                <h3>Total Return</h3>
                <p>30.00 TRON</p>
                <form action="/login">
                    <button type="submit" class="btn btn-primary bt-mine">Start Now</button>
                </form>
            </div>
            <div class="c-plan"> 
                <h2>NORMAL</h2>
                <h3 class="price">50 TRON</h3>
                <h3>Earning rate (Daily)</h3>
                <h5>3.50000000 TRON</h5>
                <h3>Time</h3>
                <p>30 days</p>
                <h3>Total Return</h3>
                <p>105.00 TRON</p>
                <form action="/login">
                    <button class="btn btn-primary bt-mine">Start Now</button>
                </form>
            </div>
            <div class="c-plan"> 
                <h2>PRIMEM</h2>
                <h3 class="price">100 TRON</h3>
                <h3>Earning rate (Daily)</h3>
                <h5>7.00000000 TRON</h5>
                <h3>Time</h3>
                <p>35 days</p>
                <h3>Total Return</h3>
                <p>245.00 TRON</p>
                <form action="/login">
                    <button class="btn btn-primary bt-mine">Start Now</button>
                </form>
            </div>
        </div>
        <div id="faq" class="faq">
            <h1>FAQ</h1>
            <div><h3>WHAT IS TRXMINE.ML?</h3>
                <p>In its shortest definition, TRXMINE.ML is a worldwide cloud mining service. It allows users to purchase hash power from well-maintained and constantly renewed crypto mining devices in cutting-edge mining facilities. Users are rewarded once the purchased hash power is used for cryptocurrency mining.</p></div>
            
            <div>
                <h3 >WHAT IS THE COMMISSION FOR DEPOSIT AND WITHDRAWAL?</h3>
            <p class="m-sp">We do not charge a commission for deposit/withdrawal.</p>
            </div>
           <div>
            <h3>WHAT IS THE MINIMUM WITHDRAWAL?</h3>
            <p>The Minimum Withdrawal Is 50 Trx.</p>
           </div>
           <div>
            <h3>WHAT IS THE MINIMUM DEPOSIT ?</h3>
            <p>You Can Deposit Any Number Of Tron.</p>
           </div>
            <div>
                <h3>WHAT CURRENCIES ARE AVAILABLE TO MINE?</h3>
            <p>You can mine Tron TRX Crypto Only </p>
            </div>
        </div>
    </main>
   
</div>
        

<script src="static/js/app.js"></script>
    
</body>
</html>